<div>
  <h1>¿Sabías que...?</h1>
  <p>
    Los colombianos entre 16 y 24 años son los terceros en el mundo que más usan
    redes sociales al día... En promedio usamos las redes sociales 4 horas y 12 minutos.
  </p>

  <nb-card>
    <nb-card-header>
      Quizá tu perfil de Twitter sea una buena forma de empezar porque puede
      decirnos algo sobre tus gustos e intereses.
    </nb-card-header>
    <nb-card-body>
      <nb-alert
      *ngIf="showMessages.error && errors?.length "
      outline="danger"
      role="alert"
    >
      <p class="alert-title">
        <b>{{ errors[0] }}</b>
      </p>
    </nb-alert>
    <nb-form-field>
        <nb-icon nbPrefix icon="at-outline" pack="eva"></nb-icon>
        <input type="text" nbInput fullWidth status="warning" placeholder="Ingresa tu username de twitter. El perfíl debe ser público."
        #username/>
    </nb-form-field>
      <br />
        <button nbButton status="danger" hero (click)="recomendacionClick($event)">
          Enviar
        </button>
    </nb-card-body>

    <nb-card-body *ngIf="this.recomendacion">
      
      <h3><strong> Nuestra recomendación: {{ formatRecom(this.recomendacion["predict"] )}} </strong></h3>
      <br/>
      <br/>
      ¿Por qué? Esta recomendación fue basada en estas características de tu personalidad:
      <br/>
      <br />
      <strong> Apertura : {{ (this.recomendacion["Openness"]*100).toFixed(2) }}%</strong> <br />
      Muestra en qué grado una persona tiende a buscar nuevas experiencias
      personales y concibe de una manera creativa tu futuro.
      <br />
      <br/>
      <strong> Responsabilidad: {{ (this.recomendacion["Conscientiousness"]*100).toFixed(2) }}%</strong><br />
      Se refiere a que tanta tendencia tiene una persona a actuar de forma organizada o meticulosa.
      <br />
      <br/>
      <strong> Extraversión: {{ (this.recomendacion["Extraversion"]*100).toFixed(2) }}% </strong> <br />
      Define el grado en que una persona se muestra abierto con los demás y
      canaliza su energía en contextos sociales.
     
      <br />
      <br/>
      <strong> Simpatía: {{( this.recomendacion["Agreeableness"]*100).toFixed(2) }}% </strong><br />
      Es el grado en que una persona se muestra compasiva y cooperadora con los demás. 
      <br />
      <br/>
      <strong> Rango emocional:  {{ (this.recomendacion["Neuroticism"]*100).toFixed(2) }}%</strong> <br />
      Es la magnitud en la que son sensibles las emociones de una persona a su entorno.
      
    </nb-card-body>
  </nb-card>
</div>
