<div>
  <nb-card>
    <div class="legend-title">¿Quiénes somos?</div>
    Somos una herramienta de información que te ayuda a tomar una buena decisión
    en cuanto a qué carrera estudiar. Nuestra solución tiene tres pilares:
  </nb-card>

  <div class="row">
    <div class="col-md-6">
      <nb-card>
        <!---- <IMG SRC="../../assets/images/imagen 1.jpg">-->
      </nb-card>
    </div>
    <div class="col-md-6">
      <div class="legend-title">Conexión</div>
      Te conectaremos con estudiantes ACTUALES de la carrera en la que estás
      interesado en distintas universidades. Sabemos que cada universidad tiene
      un enfoque diferente. Por lo tanto, queremos que estés enterado de esos
      enfoques y tomes una decisión bien informado.
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <nb-card>
        <div class="legend-title">Acercamiento</div>
        Muchos estudiantes entran a una carrera solo por la profesión pero no
        tienen idea de lo que requiere estudiar esta carrera. Queremos brindarte
        un acercamiento a distintas carreras o áreas de conocimiento. Tenemos
        ejercicios, lecturas, videos para que tengas una idea de cómo es
        ESTUDIAR esa carrera.
      </nb-card>
    </div>
    <div class="col-md-6">
      <!--<IMG SRC="../../assets/images/imagen 2.jpg">-->
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <nb-card size="large">
        <!--<IMG SRC="../../assets/images/imagen 3.jpg">-->
      </nb-card>
    </div>
    <div class="col-md-6">
      <div class="legend-title">Seguimiento</div>
      Queremos acompañarte y guiarte de la mejor forma. Por eso podrás ver
      información de cómo han variado tus intereses durante el uso de nuestra
      aplicación.
    </div>
  </div>
</div>
