<div class="row justify-content-center">
  <h3 class="text-center mb-5">Guruhs</h3>
  <div class="col-12 row m-auto">
    <div
      *ngFor="let guruh of guruhs"
      style="width: 50%;"
    >
      <div class="card-body">
        <nb-card size="tiny">
          <nb-card-header><nb-icon icon="person-outline" status="warning"></nb-icon>  {{guruh.name}}</nb-card-header>
          <nb-card-body>
            <p>Correo: {{guruh.email}}</p>
            <p>Facultad: {{guruh.faculty}}</p>
            <p>Semestre: {{guruh.semester}}</p>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>
</div>