<div class="row justify-content-center">
  <h3 class="text-center mb-5">Favoritas</h3>
  <div class="col-12 row">
    <div
      *ngFor="let contenido of misContenidos"
      style="width: 50%;">
      <div style="width: 90%;">
        <nb-card size="tiny">
          <nb-card-header>{{ contenido.date | date }}</nb-card-header>
          <nb-card-body>
            <p>{{ contenido.content.id }}</p>
            <p>{{ contenido.content.category }}</p>
            <button class="btn btn-danger" (click)="eliminar(contenido.content.id)">
              Eliminar
            </button>
          </nb-card-body>
        </nb-card>
        </div>
    </div>
  </div>
</div>
