<div class="row justify-content-center">
  <h3 class="text-center mb-5">Favoritas</h3>
  <div class="col-12 row bg-white m-auto">
    <div
      class="card rounded bg-light m-2"
      *ngFor="let contenido of misContenidos"
      style="width: 48%;"
    >
      <div class="card-body rounded">
        <h6>{{ contenido.date }}</h6>
        <p>{{ contenido.content.id }}</p>
        <p>{{ contenido.content.category }}</p>
        <button class="btn btn-danger" (click)="eliminar(contenido.content.id)">
          Eliminar
        </button>
      </div>
    </div>
  </div>
</div>
