
<nb-card>
  <nb-card-header>
    <h1 class="text-center"><b>¡Bienvenido!</b></h1>
  </nb-card-header>
  <nb-card-body>
    <h6>
      Hola bienvenido a Guruh, aqui podrás observar toda la información
      relacionada con tus intereses y posibles carreras que esten asociadas a
      ellos.
    </h6>
    <nb-accordion class="bg-dark">
      <nb-accordion-item>
        <nb-accordion-item-header>
          Primeros pasos
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <nb-stepper orientation="horizontal">
            <nb-step [label]="labelOne">
              <ng-template #labelOne>Explora</ng-template>
              <h4>Explora</h4>
              <p class="lorem">
                Da un vistazo a la sección afinidades/descubre, mira contenidos que te llamen la atención y selecciona tus favoritos
              </p>
              <button nbButton disabled nbStepperNext>prev</button>
              <button nbButton nbStepperNext>next</button>
            </nb-step>
            <nb-step [label]="labelTwo">
              <ng-template #labelTwo>Conoce</ng-template>
              <h4>Conoce</h4>
              <p class="lorem">
                 En la sección Guruhs podrás conocer a estudiantes que estan cursando carreras relacionadas a tus temas de interés, además de resolver dudas 
                 frente a las carreras que ellos estudian.
             </p>
              <button nbButton nbStepperPrevious>prev</button>
              <button nbButton nbStepperNext>next</button>
            </nb-step>
            <nb-step label="Observa">
              <h4>Observa</h4>
              <p class="lorem">
                 En la sección de recomendaciones puedes obtener una recomendación personalizada a partir de una análisis de tu usuario en la red social twitter.
              </p>
              <button nbButton nbStepperPrevious>prev</button>
              <button nbButton nbStepperNext>next</button>
            </nb-step>
            <nb-step [label]="labelFour">
              <ng-template #labelFour>Analiza</ng-template>
              <h4>Analiza</h4>
              <p class="lorem">
                A partir de tus contenidos favoritos puedes observar estadísticas que indican con que áreas de conocimiento estan relacionados tus temas interés, estas están ubicadas en la 
                sección estadísticas. 
                Adicionalmente, puedes observar fechas de inscripción importantes de varias universidades en nuestra sección calendario. 
              </p>
              <button nbButton nbStepperPrevious>prev</button>
              <button nbButton disabled nbStepperNext>next</button>
            </nb-step>
          </nb-stepper>
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header>
          Comienza a explorar tus intereses
        </nb-accordion-item-header>
        <nb-accordion-item-body>  
        <div class="row">
          <div class="col-md-6 text-center" >
            <img src={{imgname}} width="300px" height ="300px">
          </div>
          <div class="col-md-6 text-justify" >
            <p>
             En gurUh hemos agrupado una gran cantidad de contenido en diversos formatos como video, documentos y audios. Con el fin de clasificarlos en areas de conocimiento
            y con ello poder brindarle a nuestros usuarios una manera de identificar fácilmente los contenidos que les gustan. 
            Los contenidos están clasificados en las siguientes categorías:
            </p>
            <ul> 
              <li type="circle">Medicina</li>
              <li type="circle">Administración</li>
              <li type="circle">Gobierno</li>
              <li type="circle">Ciencias sociales</li>
              <li type="circle">Derecho</li>
              <li type="circle">Economía</li>
              <li type="circle">Ingeniería</li>
              <li type="circle">Odontología</li>
              <li type="circle">Enfermería</li>
              <li type="circle">Diseño y arquitectura</li>
              <li type="circle">Artes</li>
              <li type="circle">Humanidades</li>
              <li type="circle">Ciencias</li>
              <li type="circle">Educación</li>
            </ul>

          </div>
        </div> 
        </nb-accordion-item-body>
      </nb-accordion-item>
      <nb-accordion-item>
        <nb-accordion-item-header>
          Contacta un estudiante de la carrera
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <div class="row">
            <div class="col-md-6 text-justify">
                <p>
                En gurUh tenemos un gran grupo de universitarios de diversas carreras y universidades, los cuales pueden brindarte una asesoría frente 
                a las dudas que tengas de una carrera y de los contenido que se ven en ellas. Los beneficios de obtener orientación de un universitarios son:
              </p>
              <ul> 
                <li type="circle">Solucionar de manera directa las dudas relacionadas con el estudio de la carrera de interés del usuario</li>
                <li type="circle">Consultar acerca de la calidad de los estudios de la carrera respecto a varias universidades</li>
                <li type="circle">Realizar esta consulta de manera virtual y/o presencial</li>
              </ul>
            </div>
            <div class="col-md-6 text-center" >
              <img src={{imgstudent}} width="300px" height ="300px">
            </div>
          </div> 
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header>
          Descubre posibles universidades
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <div class="row">
            <div class="col-md-6 text-center" >
              <img src={{imgschool}} width="300px" height ="300px">
            </div>
           <div class="col-md-6 text-justify">
                <p>
                En gurUh reunimos información constantemente acerca de la oferta de programas academicos en Bogotá. Así puedes consultar esta información en un solo lugar.
                Nuestros servicios de información de oferta academica son:
              </p>
              <ul> 
                <li type="circle">Calendario con fechas de apertura y cierre de inscripciones de diversas universidades</li>
                <li type="circle">Costos de inscripción según carrera en diversas universidades</li>
              </ul>
            </div>
          </div> 
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </nb-card-body>
</nb-card>
