
<nb-card>
  <nb-card-header>
    <h1 class="text-center"><b>¡Bienvenido!</b></h1>
  </nb-card-header>
  <nb-card-body>
    <h6>
      Hola bienvenido a Guruh, aqui podrás observar toda la información
      relacionada con tus intereses y posibles carreras que esten asociadas a
      ellos.
    </h6>
    <nb-accordion class="bg-dark">
      <nb-accordion-item>
        <nb-accordion-item-header>
          Primeros pasos
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <nb-stepper orientation="horizontal">
            <nb-step [label]="labelOne">
              <ng-template #labelOne>Explora</ng-template>
              <h4>Explora</h4>
              <p class="lorem">
                Da un vistazo a la sección afinidades/descubre, mira contenidos que te llamen la atención y selecciona tus favoritos
              </p>
              <button nbButton disabled nbStepperNext>prev</button>
              <button nbButton nbStepperNext>next</button>
            </nb-step>
            <nb-step [label]="labelTwo">
              <ng-template #labelTwo>Conoce</ng-template>
              <h4>Conoce</h4>
              <p class="lorem">
                 En la sección Guruhs podrás conocer a estudiantes que estan cursando carreras relacionadas a tus temas de interés,además de resolver dudas 
                 frente a las carreras que ellos estudian.
             </p>
              <button nbButton nbStepperPrevious>prev</button>
              <button nbButton nbStepperNext>next</button>
            </nb-step>
            <nb-step label="Observa">
              <h4>Observa</h4>
              <p class="lorem">
                 En la sección de recomendaciones puedes obtener una recomendación personalizada a partir de una análisis de tu usuario en la red social twitter.
              </p>
              <button nbButton nbStepperPrevious>prev</button>
              <button nbButton nbStepperNext>next</button>
            </nb-step>
            <nb-step [label]="labelFour">
              <ng-template #labelFour>Analiza</ng-template>
              <h4>Analiza</h4>
              <p class="lorem">
                A partir de tus contenidos favoritos puedes observar estadísticas que indican con que áreas de conocimiento estan relacionados tus temas interés, estas están ubicadas en la 
                sección estadísticas. 
                Adicionalmente puedes observar fechas de inscripción importantes de varias universidades en nuestra sección calendario. 
              </p>
              <button nbButton nbStepperPrevious>prev</button>
              <button nbButton disabled nbStepperNext>next</button>
            </nb-step>
          </nb-stepper>
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header>
          Comienza a explorar tus intereses
        </nb-accordion-item-header>
        <nb-accordion-item-body>  
        <div class="row">
          <div class="col-md-6 text-center" >
            <img src={{imgname}} width="300px" height ="300px">
          </div>
          <div class="col-md-6">
              <p>
              A nebula is an interstellar cloud of dust, hydrogen, helium and other
              ionized gases. Originally, nebula was a name for any diffuse
              astronomical object, including galaxies beyond the Milky Way.
            </p>
          </div>
        </div> 
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header>
          Contacta un estudiante de la carrera
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <div class="row">
            <div class="col-md-6">
                <p>
                A nebula is an interstellar cloud of dust, hydrogen, helium and other
                ionized gases. Originally, nebula was a name for any diffuse
                astronomical object, including galaxies beyond the Milky Way.
              </p>
            </div>
            <div class="col-md-6 text-center" >
              <img src={{imgstudent}} width="300px" height ="300px">
            </div>
          </div> 
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header>
          Descubre posibles universidades
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <div class="row">
            <div class="col-md-6 text-center" >
              <img src={{imgschool}} width="300px" height ="300px">
            </div>
           <div class="col-md-6">
                <p>
                A nebula is an interstellar cloud of dust, hydrogen, helium and other
                ionized gases. Originally, nebula was a name for any diffuse
                astronomical object, including galaxies beyond the Milky Way.
              </p>
            </div>
          </div> 
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </nb-card-body>
</nb-card>
