

<div class="col-md-12 text-center" >
  <img src={{imgLogo}} width="250px" height ="150px">
</div>
<nb-card>
  <nb-card-header>
    <h1 class="text-center"><b>¡Bienvenido!</b></h1>
  </nb-card-header>
  <nb-card-body>
    <h6>
      Hola bienvenido a Guruh, gracias por confiar en nosotros. ¡Desde ya estás tomando las mejores decisiones! para empezar haz click en primeros pasos.
    </h6>
    <nb-accordion class="bg-dark">
      <nb-accordion-item expanded=true>
        <nb-accordion-item-header>
          Primeros pasos
        </nb-accordion-item-header>
        <nb-accordion-item-body> 
          <nb-stepper orientation="horizontal">
            <nb-step [label]="labelOne">
              <ng-template #labelOne>Explora</ng-template>
              <h4>Explora</h4>
              <p class="lorem">
                Da un vistazo a la sección afinidades/descubre, mira contenidos que te llamen la atención y selecciona tus favoritos.
              </p>
              <button nbButton disabled nbStepperNext>anterior</button>
              <button nbButton nbStepperNext>siguiente</button>
            </nb-step>
            <nb-step [label]="labelTwo">
              <ng-template #labelTwo>Conoce</ng-template>
              <h4>Conoce</h4>
              <p class="lorem">
                 En la sección Guruhs puedes conocer a estudiantes que estan cursando carreras relacionadas a tus temas de interés, además de resolver dudas 
                 frente a las carreras que ellos estudian.
             </p>
              <button nbButton nbStepperPrevious>anterior</button>
              <button nbButton nbStepperNext>siguiente</button>
            </nb-step>
            <nb-step label="Observa">
              <h4>Observa</h4>
              <p class="lorem">
                 En la sección de recomendaciones puedes obtener una recomendación personalizada a partir del análisis a tu usuario en la red social twitter.
              </p>
              <button nbButton nbStepperPrevious>anterior</button>
              <button nbButton nbStepperNext>siguiente</button>
            </nb-step>
            <nb-step [label]="labelFour">
              <ng-template #labelFour>Analiza</ng-template>
              <h4>Analiza</h4>
              <p class="lorem">
                A partir de tus contenidos favoritos puedes observar estadísticas que indican con que áreas de conocimiento estan relacionados tus temas de interés, estas gráficas 
                se encuentran en la sección estadísticas.
                Adicionalmente, puedes observar fechas de inscripción importantes de varias universidades en nuestra sección calendario. 
              </p>
              <button nbButton nbStepperPrevious>anterior</button>
              <button nbButton disabled nbStepperNext>siguiente</button>
            </nb-step>
          </nb-stepper>
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header>
          Comienza a explorar tus intereses
        </nb-accordion-item-header>
        <nb-accordion-item-body>  
        <div class="row">
          <div class="col-md-6 text-center" >
            <img src={{imgname}} width="300px" height ="300px">
          </div>
          <div class="col-md-6 text-justify" >
            <p>
             En GurUh hemos agrupado una gran cantidad de contenido en diversos formatos como video, documentos y audios. Con el fin de clasificarlos en áreas de conocimiento
            y con ello poder brindarte una manera de identificar fácilmente los contenidos que te gustan.  </p>
            <p>
            Los contenidos están clasificados en las siguientes categorías:
            </p>
            <ul> 
              <li type="circle">Medicina</li>
              <li type="circle">Administración</li>
              <li type="circle">Gobierno</li>
              <li type="circle">Ciencias sociales</li>
              <li type="circle">Derecho</li>
              <li type="circle">Economía</li>
              <li type="circle">Ingeniería</li>
              <li type="circle">Odontología</li>
              <li type="circle">Enfermería</li>
              <li type="circle">Diseño y arquitectura</li>
              <li type="circle">Artes</li>
              <li type="circle">Humanidades</li>
              <li type="circle">Ciencias</li>
              <li type="circle">Educación</li>
            </ul>

          </div>
        </div> 
        </nb-accordion-item-body>
      </nb-accordion-item>
      <nb-accordion-item>
        <nb-accordion-item-header>
          Contacta un estudiante de la carrera
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <div class="row">
            <div class="col-md-6 text-justify">
                <p>
                En GurUh tenemos un gran grupo de universitarios de diversas carreras y universidades, los cuales pueden brindarte una asesoría frente 
                a las dudas que tengas de una carrera y de los contenidos que se ven en ellas.</p> 
                <p>
                Los beneficios que obtendrás con la orientación de un universitario son:
              </p>
              <ul> 
                <li type="circle">Solucionar de manera directa preguntas relacionadas con el estudio de la carrera de tú interés.</li>
                <li type="circle">Consultar acerca de la calidad de los estudios de la carrera respecto a varias universidades</li>
                <li type="circle">Realizar esta consulta de manera virtual y/o presencial</li>
              </ul>
            </div>
            <div class="col-md-6 text-center" >
              <img src={{imgstudent}} width="300px" height ="300px">
            </div>
          </div> 
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header>
          Descubre posibles universidades
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <div class="row">
            <div class="col-md-6 text-center" >
              <img src={{imgschool}} width="300px" height ="300px">
            </div>
           <div class="col-md-6 text-justify">
                <p>
                En GurUh reunimos información constantemente acerca de la oferta de programas academicos en Bogotá. Así puedes consultar esta información en un solo lugar.
                </p>
                <p>
                Nuestros servicios de información de oferta académica son:
              </p>
              <ul> 
                <li type="circle">Calendario con fechas de apertura y cierre de inscripciones de diversas universidades.</li>
                <li type="circle">Costos de inscripción según carrera en diversas universidades.</li>
              </ul>
            </div>
          </div> 
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </nb-card-body>
</nb-card>
