<nb-card accent="warning">
    <nb-card-header>
        En Guruh queremos que no pierdas la oportunidad más importante de tu vida por un descuido.
        Por esa razón próximamente podrás verificar en esta sección cuando se abre y cierran las convocatorias
        para tu universidad y carrera de ensueño. 
    </nb-card-header>
  </nb-card>
  <nb-layout>
        <nb-layout-column class="small">
            <nb-calendar size="large" [(date)]="date"></nb-calendar>
        </nb-layout-column>

        <nb-layout-column class="small">
              <nb-card>
              <nb-card-header>
                Agenda para hoy: {{ dateActual | date }}
            </nb-card-header>
              <nb-card-body>
                En este espacio encontrarás los eventos para el día de hoy. Así puedes estar seguro de
                que no se te escapa ninguna convocatoria para la carrera a nivel nacional.
              </nb-card-body>
            </nb-card>

            <nb-card>
              <nb-card-header>
                Agenda de la fecha seleccionada: {{ date | date }}
            </nb-card-header>
              <nb-card-body>
                En esta sección podrás ver los eventos para el día que selecciones en el calnedario.
                De esta forma puedes asegurarte que tienes todos tus documentos listos a tiempo para el día
                en que se abren las inscripciones.
              </nb-card-body>
            </nb-card>
        </nb-layout-column>
    </nb-layout>

