@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/dark';


$nb-themes: nb-register-theme((

  color-primary-100: #EEF3F3,
  color-primary-200: #DDE6E8,
  color-primary-300: #AEB8BA,
  color-primary-400: #6C7376,
  color-primary-500: #181A1B,
  color-primary-600: #111417,
  color-primary-700: #0C1013,
  color-primary-800: #070B0F,
  color-primary-900: #04080C,
  color-primary-transparent-100: rgba(24, 26, 27, 0.08),
  color-primary-transparent-200: rgba(24, 26, 27, 0.16),
  color-primary-transparent-300: rgba(24, 26, 27, 0.24),
  color-primary-transparent-400: rgba(24, 26, 27, 0.32),
  color-primary-transparent-500: rgba(24, 26, 27, 0.4),
  color-primary-transparent-600: rgba(24, 26, 27, 0.48),
  color-success-100: #FFF3D5,
  color-success-200: #FFE3AB,
  color-success-300: #FFD082,
  color-success-400: #FFBD63,
  color-success-500: #FF9E2F,
  color-success-600: #DB7C22,
  color-success-700: #B75E17,
  color-success-800: #93430E,
  color-success-900: #7A3009,
  color-success-transparent-100: rgba(255, 158, 47, 0.08),
  color-success-transparent-200: rgba(255, 158, 47, 0.16),
  color-success-transparent-300: rgba(255, 158, 47, 0.24),
  color-success-transparent-400: rgba(255, 158, 47, 0.32),
  color-success-transparent-500: rgba(255, 158, 47, 0.4),
  color-success-transparent-600: rgba(255, 158, 47, 0.48),
  color-info-100: #C9EEFA,
  color-info-200: #95D8F6,
  color-info-300: #5EB4E4,
  color-info-400: #358DCA,
  color-info-500: #035BA8,
  color-info-600: #024690,
  color-info-700: #013478,
  color-info-800: #002561,
  color-info-900: #001A50,
  color-info-transparent-100: rgba(3, 91, 168, 0.08),
  color-info-transparent-200: rgba(3, 91, 168, 0.16),
  color-info-transparent-300: rgba(3, 91, 168, 0.24),
  color-info-transparent-400: rgba(3, 91, 168, 0.32),
  color-info-transparent-500: rgba(3, 91, 168, 0.4),
  color-info-transparent-600: rgba(3, 91, 168, 0.48),
  color-warning-100: #FBF2C9,
  color-warning-200: #F8E395,
  color-warning-300: #ECC95F,
  color-warning-400: #D9AC37,
  color-warning-500: #C18501,
  color-warning-600: #A56D00,
  color-warning-700: #8A5600,
  color-warning-800: #6F4200,
  color-warning-900: #5C3300,
  color-warning-transparent-100: rgba(193, 133, 1, 0.08),
  color-warning-transparent-200: rgba(193, 133, 1, 0.16),
  color-warning-transparent-300: rgba(193, 133, 1, 0.24),
  color-warning-transparent-400: rgba(193, 133, 1, 0.32),
  color-warning-transparent-500: rgba(193, 133, 1, 0.4),
  color-warning-transparent-600: rgba(193, 133, 1, 0.48),
  color-danger-100: #FCDFD1,
  color-danger-200: #F9B8A4,
  color-danger-300: #ED8773,
  color-danger-400: #DB594F,
  color-danger-500: #C41D20,
  color-danger-600: #A81524,
  color-danger-700: #8D0E27,
  color-danger-800: #710926,
  color-danger-900: #5E0526,
  color-danger-transparent-100: rgba(196, 29, 32, 0.08),
  color-danger-transparent-200: rgba(196, 29, 32, 0.16),
  color-danger-transparent-300: rgba(196, 29, 32, 0.24),
  color-danger-transparent-400: rgba(196, 29, 32, 0.32),
  color-danger-transparent-500: rgba(196, 29, 32, 0.4),
  color-danger-transparent-600: rgba(196, 29, 32, 0.48)

), custom-theme, dark);