<!-- Jumbotron -->
<div class="card card-image" style="background-image: url(https://ak.picdn.net/shutterstock/videos/1035783248/thumb/4.jpg); background-size: cover;">
  <div class="text-white text-center rgba-stylish-strong py-5 px-4">
    
    <div class="py-5">

      <!-- Content -->
      <div class="mx-auto" style="width: 40%; height: 40%">
        <img src="https://i.ibb.co/2hQQD50/logo-final.png" style="width: 100%; height: auto;">
      </div>
      <h1 class="card-title h1 mb-2 py-2">GurUh</h1>
      <p class="mb-0 px-md-5 mx-md-5">¿No sabes que estudiar, Uh?</p>
      <p class="mb-4 pb-2 px-md-5 mx-md-5">Nosotros te ayudamos a conocer tus sueños.</p>
      <a class="button btn btn-orange" href="http://www.app.guruh.ml/login"><i class="fas fa-pen-fancy"></i>  Iniciar sesión</a>
      <p class="mb-4 pb-2 px-md-5 mx-md-5"> ¿Quieres ayudarnos a guiar jóvenes?
      <a href="#meetus" class="orange-text">Regístrate como GurUh</a></p>
    </div>
    
  </div>
</div>
<!-- Jumbotron -->


<!-- Conocenos -->
<section  class="team-section text-center my-0" style="background: rgba(244,138,130,1);">
  <!-- Section heading -->
  <br id="meetus">
  <br>
  <br>
  <h1 class="h1-responsive font-weight-bold white-text mb-2">Conócenos</h1>
  <!-- Grid row -->
  <div class="row mx-5 mt-3 ">
    <!-- Grid column -->
    <div class="col-lg-5 mb-lg-0 mb-5">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/jmrleoJjoRw"></iframe>
      </div>
    </div>
    <!-- Grid column -->

     <!-- Grid column -->
     <div class="col-lg-7 my-auto showcase-text">

      <!-- Grid row -->
      <div class="row mb-3">
        <div class="col-md-11 col-10 mx-5 my-auto">
          <h2 class="font-weight-bold white-text mb-3">¿Quisieras ser un GurUh y ayudarnos a guiar jóvenes?</h2>
          <br>
          <a class="button btn btn-danger" href="https://docs.google.com/forms/d/e/1FAIpQLSdYxEDXkwxzyOP1q7e3phlbf5ORkXh_utWzLOP2eBOiUolrXA/viewform">Regístrate como Guruh</a>
        </div>
      </div>
      <!-- Grid row -->

    </div>
    <!-- Grid column -->
    <br>
  </div>
  <!-- Grid row -->
  <br>
  <br>
</section>
<!-- Conocenos -->

<!-- Projects section v.3 -->
<section class="mb-0" style="background-color: white;">

  <!-- Section heading -->
  <br id="about">
  <br>
  <br>
  <h2 class="h1-responsive font-weight-bold text-center mb-3" >¿Quiénes somos?</h2>
  <!-- Section description -->
  <h4 class="grey-text text-center w-responsive mx-auto mb-5">Somos una herramienta de información que te ayuda a 
  tomar una buena decisión para elegir tu carrera y universidad. Nuestra solución tiene tres pilares:</h4>

  <!-- Grid row -->
  <div class="row mx-5">

    <!-- Grid column -->
    <div class="col-lg-5 mb-lg-0 mb-5">
      <!--Image-->
      <img src="https://i.ibb.co/M6sJ8rY/Untitled-design.png" alt="Sample project image" class="img-fluid rounded z-depth-1">
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-7 my-auto showcase-text">

      <!-- Grid row -->
      <div class="row mb-3">
        <div class="col-md-11 col-10 my-auto">
          <h2 class="font-weight-bold mb-3">Conexión</h2>
          <h4 class="grey-text"> Te conectaremos con estudiantes ACTUALES de la carrera en la que estás interesado 
            en distintas universidades. Sabemos que cada universidad tiene un enfoque diferente. Por lo tanto, 
            queremos que estés enterado de esos enfoques y tomes una decisión bien informado.</h4>
        </div>
      </div>
      <!-- Grid row -->

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

  <hr class="my-5">

  <!-- Grid row -->
  <div class="row mx-5">

    <!-- Grid column -->
    <div class="col-lg-7 my-auto showcase-text">

      <!-- Grid row -->
      <div class="row mb-3">
        <div class="col-md-11 col-10 my-auto">
          <h2 class="font-weight-bold mb-3">Acercamiento</h2>
          <h4 class="grey-text"> Muchos estudiantes entran a una carrera solo por la profesión pero no tienen idea
           de lo que requiere estudiar esta carrera. Queremos brindarte un acercamiento a distintas carreras o 
           áreas de conocimiento. Tenemos ejercicios, lecturas, videos para que tengas una idea de cómo es ESTUDIAR
           esa carrera.</h4>
        </div>
      </div>
      <!-- Grid row -->

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-5">
      <!--Image-->
      <img src="https://i.ibb.co/CwF1Fbc/Untitled-design-3.png" alt="Sample project image" class="img-fluid rounded z-depth-1">
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

  <hr class="my-5">

 <!-- Grid row -->
 <div class="row mx-5">

  <!-- Grid column -->
  <div class="col-lg-5 mb-lg-0 mb-5">
    <!--Image-->
    <img src="https://i.ibb.co/HVztg2N/Untitled-design-1.png" alt="Sample project image" class="img-fluid rounded z-depth-1">
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-lg-7 my-auto showcase-text">

    <!-- Grid row -->
    <div class="row mb-3">
      <div class="col-md-11 col-10 my-auto">
        <h2 class="font-weight-bold mb-3">Seguimiento</h2>
        <h4 class="grey-text"> Queremos acompañarte y guiarte de la mejor forma. Por eso podrás ver información de 
          cómo han variado tus intereses durante el uso de la aplicación.</h4>
      </div>
    </div>
    <!-- Grid row -->

  </div>
  <!-- Grid column -->
</div>
<!-- Grid row -->
<hr class="mt-5 mb-0">

</section>
<!-- Projects section v.3 -->

<!--A quien ayudamos-->
<section  class="team-section text-center my-0" style="background-color: #ff914d;">
  <!-- Section heading -->
  <br id="who">
  <br>
  <h1 class="h1-responsive font-weight-bold white-text mb-2">¿A quién ayudamos?</h1>
  <br>
  <!-- Grid row -->
  <div class="row mx-0 mt-3 ">

    <!-- Grid column -->
    <div class="col mx-3">
      <div class="avatar mx-0">
        <img src="https://i.ibb.co/tDZwBzQ/Untitled-design-4.png" class="img-fluid z-depth-1" alt="1">
      </div>
    <h5 class="font-weight-bold white-text mt-4 mb-1">Bachilleres</h5>
    <p class="black-text">Jóvenes en los últimos grados del colegio que no tienen certeza de que estudiar.</p>
  </div>
  <!-- Grid column -->
    
<!-- Grid column -->
<div class="col mx-3">
  <div class="avatar mx-0">
    <img src="https://i.ibb.co/zN5JQkG/Untitled-design-5.png" class="img-fluid z-depth-1" alt="1">
  </div>
<h5 class="font-weight-bold white-text mt-4 mb-1">Universitarios</h5>
<p class="black-text">Estudiantes universitarios que están considerando desertar su carrera.</p>
</div>
<!-- Grid column -->

<!-- Grid column -->
<div class="col mx-3">
  <div class="avatar mx-0">
    <img src="https://i.ibb.co/qrQW9WP/Untitled-design-6.png" class="img-fluid z-depth-1" alt="1">
  </div>
<h5 class="font-weight-bold white-text mt-4 mb-1">Universidades</h5>
<p class="black-text">Universidades que quieren bajar sus indices de deserción.</p>
</div>
<!-- Grid column -->
<br>
  </div>
  <!-- Grid row -->

</section>
<!--A quien ayudamos-->

<!--Our Team-->
<section class="team-section text-center">
  <br>
  <br id="ourteam">
    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold mt-3">Nuestro equipo</h2>
    <h4 class="grey-text w-responsive mx-auto">Somos un equipo de emprendedores que buscan ayudar a jóvenes 
    colombianos a encontrar su vocación profesional.</h4>
    <!-- Grid row -->
    <div class="row mx-0">
  
      <!-- Grid column Nicolas -->
      <div class="col mx-0">
        <div class="avatar mx-0">
          <img src="https://i.ibb.co/hVLm5x7/nicolas.jpg" class="rounded-circle z-depth-1"
          alt="Sample avatar">
        </div>
      <h5 class="font-weight-bold mt-4 mb-1">Nicolás Tobo</h5>
      <p class="text-uppercase orange-text"><strong>Developer</strong></p>
      <p class="grey-text">CO-FUNDADOR</p>
      <ul class="list-unstyled mb-0">
        <!-- LinkedIn -->
        <a class="p-2 fa-lg fb-ic" href="https://www.linkedin.com/in/nicol%C3%A1s-andr%C3%A9s-tobo-urrutia-146611199">
          <i class="fab fa-linkedin pink-text"> </i>
        </a>
        <!-- GitHub -->
        <a class="p-2 fa-lg tw-ic" href="https://github.com/natobo">
          <i class="fab fa-github pink-text"> </i>
        </a>
      </ul>
    </div>
    <!-- Grid column Nicolas -->
  
    <!-- Grid column Jonatan -->
    <div class="col mx-0">
      <div class="avatar mx-0">
        <img src="https://i.ibb.co/KKs5Q1g/envioreal-1.jpg" class="rounded-circle z-depth-1"
          alt="Sample avatar">
      </div>
    <h5 class="font-weight-bold mt-4 mb-1">Jonatan Hernández</h5>
    <p class="text-uppercase orange-text"><strong>Developer</strong></p>
    <p class="grey-text">CO-FUNDADOR</p>
    <ul class="list-unstyled mb-0">
        <!-- LinkedIn -->
        <a class="p-2 fa-lg fb-ic" href="https://www.linkedin.com/in/jonatan-hernandez-rubio">
          <i class="fab fa-linkedin pink-text"> </i>
        </a>
        <!-- GitHub -->
        <a class="p-2 fa-lg tw-ic" href="https://github.com/jehernandezr">
          <i class="fab fa-github pink-text"> </i>
        </a>
      </ul>
    </div>
    <!-- Grid column Jonatan -->
  
    <!-- Grid column Sara -->
    <div class="col mx-0">
      <div class="avatar mx-0">
        <img src="https://i.ibb.co/H22FYYp/cv-1.jpg" class="rounded-circle z-depth-1"
        alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-1">Sara Bejarano</h5>
      <p class="text-uppercase orange-text"><strong>Developer</strong></p>
      <p class="grey-text">CO-FUNDADOR</p>
      <ul class="list-unstyled mb-0">
          <!-- LinkedIn -->
          <a class="p-2 fa-lg fb-ic" href="https://www.linkedin.com/in/sarabejarano">
            <i class="fab fa-linkedin pink-text"> </i>
          </a>
          <!-- GitHub -->
          <a class="p-2 fa-lg tw-ic" href="https://github.com/sarabepu">
            <i class="fab fa-github pink-text"> </i>
          </a>
        </ul>
      </div>
    <!-- Grid column Sara -->
  
    <!-- Grid column Dianis -->
    <div class="col mx-0">
      <div class="avatar mx-0">
        <img src="https://i.ibb.co/1rRGVgL/201911025629442011306208617-1.jpg" class="rounded-circle z-depth-1"
        alt="Sample avatar">
      </div>
      <h5 class="font-weight-bold mt-4 mb-1">Dianis Caro</h5>
      <p class="text-uppercase orange-text"><strong>Developer</strong></p>
      <p class="grey-text">CO-FUNDADOR</p>
      <ul class="list-unstyled mb-0">
        <!-- LinkedIn -->
        <a class="p-2 fa-lg fb-ic" href="https://co.linkedin.com/in/dianis-caro">
          <i class="fab fa-linkedin pink-text"> </i>
        </a>
        <!-- GitHub -->
        <a class="p-2 fa-lg tw-ic" href="https://github.com/DianisCaro99">
          <i class="fab fa-github pink-text"> </i>
        </a>
      </ul>
    </div>
    <!-- Grid column Dianis -->
  
    <!-- Grid column Diego -->
    <div class="col mx-0">
      <div class="avatar mx-0">
        <img src="https://i.ibb.co/CWmwTfK/Foto-1.jpg" class="rounded-circle z-depth-1"
        alt="Sample avatar">
      </div>
    <h5 class="font-weight-bold mt-4 mb-1">Diego Forero</h5>
    <p class="text-uppercase orange-text"><strong>Developer</strong></p>
    <p class="grey-text">CO-FUNDADOR</p>
    <ul class="list-unstyled mb-0">
        <!-- LinkedIn -->
        <a class="p-2 fa-lg fb-ic" href="https://www.linkedin.com/in/diego-forero-cruz-9344011a9">
          <i class="fab fa-linkedin pink-text"> </i>
        </a>
        <!-- GitHub -->
        <a class="p-2 fa-lg tw-ic" href="https://github.com/diegoforerocruz">
          <i class="fab fa-github pink-text"> </i>
        </a>
      </ul>
    </div>
    <!-- Grid column Diego -->
  
    <!-- Grid column Carlos -->
    <div class="col mx-0">
      <div class="avatar mx-0">
        <img src="https://i.ibb.co/WGckdqC/carlos.jpg" class="rounded-circle z-depth-1"
        alt="Sample avatar">
      </div>
    <h5 class="font-weight-bold mt-4 mb-1">Carlos Patiño</h5>
    <p class="text-uppercase orange-text"><strong>Developer</strong></p>
    <p class="grey-text">CO-FUNDADOR</p>
    <ul class="list-unstyled mb-0">
        <!-- LinkedIn -->
        <a class="p-2 fa-lg fb-ic" href="https://www.linkedin.com/in/chpatinos">
          <i class="fab fa-linkedin pink-text"> </i>
        </a>
        <!-- GitHub -->
        <a class="p-2 fa-lg tw-ic" href="https://github.com/chpatinos">
          <i class="fab fa-github pink-text"> </i>
        </a>
      </ul>
    </div>
    <!-- Grid column Carlos -->
      
    </div>
    <!-- Grid row -->
  
</section>
<!--Our Team-->